$unit: 0.625rem;
@function size($value){
    @return $unit * $value ;
}

@mixin linkHover($colorBase, $colorHover){
    color: $colorBase;
      text-decoration: none;
      font-family: "Barlow Condensed";
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 2.7px;
      @if($colorHover  == 'true'){
          color: aqua;
      }
  }


  @mixin custom-h1($before-content, $before-color) {
    margin-bottom: 37px;
    font-size: 1.75rem;
    color: white;
    font-family: "Barlow Condensed", sans-serif;

    &::before {
      margin-right: 24px;
      content: $before-content;
      color: $before-color;
    }
  }