$unit: 0.625rem;
@function size($value){
    @return $unit * $value ;
}

@mixin linkHover($colorBase, $colorHover){
    color: $colorBase;
      text-decoration: none;
      font-family: "Barlow Condensed";
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 2.7px;
      @if($colorHover  == 'true'){
          color: aqua;
      }
  }


  @mixin custom-h1($before-content, $before-color, $m-bottom: 37px, $text-size:1.75rem,$before-margin:24px ) {
    margin-bottom:$m-bottom;
    font-size:$text-size ;
    color: white;
    font-family: "Barlow Condensed", sans-serif;
    &::before {
      margin-right: $before-margin;
      content: $before-content;
      color: $before-color;
    }
  }
  @mixin text-format($font-weigth, $font-size,$margin-bottom ){
    font-weight: $font-weigth;
    font-size: $font-size ;
    margin-bottom: $margin-bottom;
  }