@use '../../../src/styles/functions' as link;
@import "../../styles/functions.scss";


.header {
  width: 100%;
  position: sticky;
  top:0;
  display: flex;
  justify-content: space-between;
  padding: 0 0 1rem 0 ;
  z-index: 30;
    img {
      width: size(4.8);
      margin-left: 14px;
    }

  .menu {
    display: flex;
    max-width: 830px;
    position: relative;
    width: 100%;
    backdrop-filter: blur(20px);
    & {
      @media screen and (max-width: 768px) {
        height: 100dvh;
        width: 82%;
        position: fixed;
        z-index: 10;
        text-align: left;
        align-items: flex-start;
        right: 0;
        top: 0;
        justify-content: space-between;
        transform: translateX(100%);
        transition: .5s ease;
      }
    }

    .line {
      width: 29.75rem;
      border-bottom: solid 1px white;
      position: absolute;
      right: 97%;
      z-index: 10;
      top: 50%;
      & {
        @media screen and (max-width: 768px) {
            display:none;
        }
      }
    }
    nav {
      display: flex;
      & { @media screen and (max-width: 768px){
        backdrop-filter: blur(20px);
        padding-top: 8rem;
      }}
      ul{
        display: flex;
        height: 6rem;
        align-items: center;
        list-style: none;
        justify-content: space-around;
        gap: 3rem;
        & { @media screen and (max-width: 768px) {
          flex-direction: column;
          align-items: flex-start;
        }}

      }
    }
  }
}
.menu.is-active{
  transform: translateX(0%);
}
.hamburger {
  display: none;
  & {
    @media screen and (max-width: 768px) {
      display: block;
      z-index: 20;
    }

  }
  .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
    background-color: white;

  }
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before{
  background-color: white;
}
